<div class="d-flex justify-content-center my-4">
  <a 
  href="http://localhost:3000/api/list/add" 
  class="btn btn-primary btn-block rounded-pill" 
  style="width: 90%;"
  {{#if token}} 
   onclick="event.preventDefault(); window.location.href='http://localhost:3000/api/list/add'; 
            fetch('/api/list', { headers: { 'Authorization': '{{token}}' } });"
   {{else}} 
   onclick="event.preventDefault(); window.location.href='http://localhost:3000/api/login';"
   {{/if}}>
   Add Book
   </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">ISBN</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
    </tr>
  </thead>

  <tbody>
    {{#each books}}
    <tr>
      <td class="align-middle">{{inc @index}}</td>
      <td class="align-middle">{{this.isbn}}</td>
      <td class="align-middle">{{this.title}}</td>
      <td class="align-middle">{{this.author}}</td>
      <td class="align-middle">{{this.publisher}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>